@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container marketing">

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="http://placehold.it/500x500" alt="Generic placeholder image">
        </div>

        <hr class="featurette-divider">

        <footer style="text-align:left;">
            <p>&copy; 2020 Mustard Clinic</p>
        </footer>

    </div>
</div>


