@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container marketing">

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">About Mustard Clinic</h2>
            <p class="lead">
                Mustard Clinic is a nonprofit organization committed to clinical practice,
                education and research, providing expert,
                whole-person care to everyone who needs healing.
            </p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="~/images/ClinicSide.jpeg" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <footer>
        <p class="pull-right"><a href="#">Back to top</a></p><a>@Html.ActionLink("Back Home", "Index", "Home")</a></p>
        <p>&copy; 2020 Mustard Clinic</p>
    </footer>
</div>



