@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container marketing">

    <hr class="featurette-divider">

    <asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
        <section class="column-left">
            <h3>Need to make an appointment?<br /> Fill out the information below!</h3><br />
            <h2>Patient Information</h2>
            <span>
                Please provide patient information as it appears on legal documents.
            </span>
        </section>

        <section id="contact" class="column-middle">
            <form action="/action_page.php" id="resetForm">
                <br />
                <label for="firstname">Legal First Name:</label><br />
                <input type="text" id="firstName" name="firstName" placeholder="Your first name.."><br /><br />

                <label for="middlename">Legal Middle Name(optional):</label><br />
                <input type="text" id="middleName" name="middleName" placeholder="Your middle name.."><br /><br />

                <label for="lastname">Legal last name:</label><br />
                <input type="text" id="lastName" name="lastName" placeholder="Your last name.."><br /><br />

                <label for="address">Address:</label><br />
                <input type="text" id="address" name="address" placeholder="Your address.."><br /><br />

                <label for="city">City:</label><br />
                <input type="text" id="city" name="city" placeholder="Your city.."><br /><br />

                <label for="State">State:</label><br />
                <input type="text" id="state" name="state" placeholder="Your State.."><br /><br />

                <label for="zip">ZIP:</label><br />
                <input type="text" id="zip" name="zip" placeholder="Your ZIP.."><br /><br />

                <label for="phone">Preferred phone:</label><br />
                <input type="text" id="phone" name="phone" placeholder="Your Phone.."><br /><br />

                <label for="phone">What is the primary medical problem or diagnosis for the appointment request?</label><br />
                <input type="text" id="problem" name="problem" placeholder="Your primary medical problem or diagnosis.."><br />
            </form>
        </section>
        <br />

        <input type="submit" value="Submit" class="btn btn-default" onclick=submitFunction() />

        <script>
            function submitFunction() {
                document.getElementById("pnlSubmission").hidden = false;
                document.getElementById("resetForm").reset();
            }
        </script>

        <section class="column-right">
            <asp:Panel ID="pnlSubmission" runat="server" hidden="true">
                <h3>Thank you for your submission!</h3>
                <span>
                    You should be hearing back from someone within 24 hours to confirm your appointment.
                    This is for business days only.
                </span>
            </asp:Panel>
        </section>

    </asp:Content>
    <hr class="featurette-divider">
    <footer>
        <p class="pull-right"></p>
        <p>&copy; 2020 Mustard Clinic</p>
    </footer>
</div>
