<!-- Carousel
    ================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/images/ClinicExterior.jpg" alt="First slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1 style="text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8, 1px 1px 17px #0A0403;">Mustard Clinic</h1>
                   <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="~/images/DoctorPatient.jpg" alt="Second slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1 style="text-shadow: 0px 1px 7px rgba(10,4,3,0.99);">Care that lasts a lifetime</h1>
                   <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="~/images/DoctorFade.jpg" alt="Third slide">
            <div class="container">
                <div class="carousel-caption">
                    <h1 style="text-shadow: 0px 1px 7px rgba(10,4,3,0.99);">
                    Mustard Clinic is committed to providing the best care to every patient</h1>
                   <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div><!-- /.carousel -->
<!-- Marketing messaging and featurettes
    ================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <img class="img-circle" src="~/images/FindDrIcon.png" alt="Generic placeholder image">
            <h2>Find a Doctor</h2>
             <p><a id="btnDr"class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="~/images/AppointmentIcon.png" alt="Generic placeholder image">
            <h2>Appointments</h2>
           <p><a id="btnAppt" class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="~/images/RxRefillIcon.png" alt="Generic placeholder image">
            <h2>Prescriptions</h2>
            <p><a id="btnRx"class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Our Mission</h2>
            <p class="lead">To inspire hope, and contribute to health and well-being by providing the best care to every patient through integrated clinical practice, education and research.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="~/images/DoctorCollage.jpg" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="~/images/DoctorStethoscope.jpg" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
            <h2 class="featurette-heading">Our Vision </h2>
            <p class="lead">Mustard Clinic will provide an unparalleled experience as the most trusted partner for health care.</p>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Our Values</h2>
            <p class="lead">
                The needs of the patient come first.
                <h3>Respect</h3>
                Treat everyone in our diverse community, including patients, their families and colleagues, with dignity.<br />
                <h3>Compassion</h3>
                Provide the best care, treating patients and family members with sensitivity and empathy.<br />
                <h3>Healing</h3>
                Inspire hope and nurture the well-being of the whole person, respecting physical, emotional and spiritual needs.<br />
            </p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive" src="~/images/DoctorValue.jpg" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->
    <!-- FOOTER -->
    <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2020 Mustard Clinic</p>
    </footer>

</div><!-- /.container -->