@model IEnumerable<MustardClinic.Models.Prescriptions>

@{
    ViewBag.Title = "Prescriptions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="column-left">
    <h2>Prescription List</h2>
</section>


<section class="column-middle">

    <p class="hide">
        @Html.DisplayNameFor(model => model.DrugName)
        @Html.DisplayNameFor(model => model.DrugDose)
    </p>

@foreach (var item in Model)
{
    <img src="~/Content/@Html.DisplayFor(modelItem => item.DrugName)" /><br />
    <p>@Html.DisplayFor(modelItem => item.DrugDose)</p><br />

}

</section>

<section class="column-right"></section>


