@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container marketing">

    <hr class="featurette-divider">

    <div class="row">
        <div class="col-lg-4">
            <img class="img-circle" src="~/images/Dr-Mahyar-Eidgah-MD.png" alt="Generic placeholder image">
            <h2>Dr. Mahyar Eidgah, MD</h2>
            <h3>Family Physician</h3>
        </div>
        <div class="col-lg-4">
            <img class="img-circle" src="~/images/Dr-Alicia-Grossmann-MD.png" alt="Generic placeholder image">
            <h2>Dr. Alicia Grossman, MD</h2>
            <h3>Family Physician</h3>
        </div>
        <div class="col-lg-4">
            <img class="img-circle" src="~/images/Dr-Norman-Chan-MD.png" alt="Generic placeholder image">
            <h2>Dr.Norman Chan, MD</h2>
            <h3>Pediatrician</h3>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row">
        <div class="col-lg-4">
            <img class="img-circle" src="~/images/Dr-Shelly-Hall-MD.png" alt="Generic placeholder image">
            <h2>Dr. Shelly Hall, MD</h2>
            <h3>Internal Medicine Physician</h3>
        </div>
        <div class="col-lg-4">
            <img class="img-circle" src="~/images/Dr-Zachary-Wassmuth-MD.png" alt="Generic placeholder image">
            <h2>Dr. Zachary Wassmuth, MD</h2>
            <h3>Surgeon</h3>
        </div>
        <div class="col-lg-4">
            <img class="img-circle" src="~/images/Dr-Leigh-Ann-Wade-MD.png" alt="Generic placeholder image">
            <h2>Dr. Leigh Ann Wade, MD</h2>
            <h3>Obstetrician/Gynecologist</h3>
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row">
        <div class="col-lg-4">
            <img class="img-circle" src="~/images/Dane-Menkin-CRNP.png" alt="Generic placeholder image">
            <h2>Dane Menkin, CRNP</h2>
            <h3>Primary Care</h3>
        </div>
        <div class="col-lg-4">
            <img class="img-circle" src="~/images/Koudiratou-Radji-NP.png" alt="Generic placeholder image">
            <h2>Koudiratou Radji, NP</h2>
            <h3>Primary Care</h3>
        </div>
        <div class="col-lg-4">
            <img class="img-circle" src="~/images/Efrat-LaMandre-FNP.png" alt="Generic placeholder image">
            <h2>Efrat LaMandre, FNP</h2>
            <h3>Primary Care</h3>
        </div>
    </div>
    <hr class="featurette-divider">
    <footer>
        <p class="pull-right"><a>@Html.ActionLink("Back Home", "Index", "Home")</a></p>
        <p>&copy; 2020 Mustard Clinic</p>
    </footer>
</div>